# Q2(a)

In [12]:
import pandas as pd
import numpy as np
data = pd.read_csv('DiabetesTraining.csv')
data.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,80.0,0,1,never,25.19,6.6,140,0
2,Female,54.0,0,0,No Info,27.32,6.6,80,0
3,Male,28.0,0,0,never,27.32,5.7,158,0
4,Female,36.0,0,0,current,23.45,5.0,155,0

In [38]:
features = ['age', 'bmi', 'HbA1c_level', 'blood_glucose_level']
label = ['diabetes']
X = data[features].values
Y = data[label].values
X.shape, Y.shape

((1501, 4), (1501, 1))

In [39]:
standardize_X = X / np.std(X, axis=0)
standardize_X

array([[3.4839557 , 3.83445787, 6.11662291, 3.60690783],
       [3.4839557 , 3.83445787, 6.11662291, 3.60690783],
       [2.3516701 , 4.15868952, 6.11662291, 2.06109019],
       ...,
       [3.00491179, 4.15868952, 5.65324239, 2.18990833],
       [2.22102176, 5.7083037 , 5.65324239, 2.31872647],
       [0.30484612, 2.76129678, 5.7459185 , 3.60690783]])

In [50]:
D1 = standardize_X[Y.flatten() == 0]
D2 = standardize_X[Y.flatten() != 0]
D1, D2

(array([[3.4839557 , 3.83445787, 6.11662291, 3.60690783],
        [3.4839557 , 3.83445787, 6.11662291, 3.60690783],
        [2.3516701 , 4.15868952, 6.11662291, 2.06109019],
        ...,
        [3.00491179, 4.15868952, 5.65324239, 2.18990833],
        [2.22102176, 5.7083037 , 5.65324239, 2.31872647],
        [0.30484612, 2.76129678, 5.7459185 , 3.60690783]]),
 array([[ 1.91617564,  2.93939585,  6.02394681,  5.15272548],
        [ 2.9178129 ,  4.15868952,  6.02394681,  5.15272548],
        [ 2.17747232,  4.15868952,  5.28253797,  6.69854312],
        [ 3.17910958,  3.9440573 ,  8.34084943,  4.12218038],
        [ 2.30812065,  4.15868952,  6.48732733,  4.09641676],
        [ 2.17747232,  5.65654841,  8.34084943,  4.09641676],
        [ 2.9178129 ,  9.6630165 ,  8.15549722,  3.99336225],
        [ 2.48231844,  4.15868952,  7.59944059,  3.24621705],
        [ 1.56778007,  4.91218561,  5.7459185 ,  5.66799803],
        [ 2.61296678,  4.15868952,  6.95070786,  7.72908822],
        [ 2.9178129 ,  4.15868952,  5.7459185 ,  4.09641676],
        [ 3.4839557 ,  4.15868952,  6.30197512,  7.21381567],
        [ 3.35330737,  4.82541939,  6.02394681,  7.21381567],
        [ 2.04682398,  5.55456005,  6.95070786,  3.99336225],
        [ 3.4839557 ,  3.34430486,  6.48732733,  7.72908822],
        [ 2.30812065,  4.6884201 ,  6.11662291,  7.21381567],
        [ 2.65651622,  5.99143556,  8.34084943,  3.60690783],
        [ 3.30975792,  4.85586368,  6.95070786,  3.99336225],
        [ 1.87262619,  4.06583445,  6.02394681,  7.72908822],
        [ 2.39521955,  4.15868952,  6.30197512,  4.09641676],
        [ 2.48231844,  4.22718917,  6.11662291,  4.12218038],
        [ 2.74361512,  5.3368834 ,  5.37521408,  5.15272548],
        [ 3.4839557 ,  3.53914829,  5.65324239,  4.09641676],
        [ 3.04846124,  4.45247689,  7.59944059,  3.34927156],
        [ 2.09037342,  3.07335071,  6.48732733,  3.73572597],
        [ 1.82907674,  3.77661373,  8.34084943,  4.09641676],
        [ 3.4839557 ,  5.50737141,  6.02394681,  5.15272548],
        [ 2.26457121,  7.65673803,  6.11662291,  3.99336225],
        [ 3.09201069,  4.12367859,  7.59944059,  5.15272548],
        [ 3.4839557 ,  3.70811408,  6.95070786,  7.21381567],
        [ 2.56941733,  4.44486581,  7.59944059,  5.66799803],
        [ 1.26293394,  3.86794659,  5.65324239,  3.34927156],
        [ 2.96136235,  6.13604592,  6.95070786,  6.69854312],
        [ 2.26457121,  4.15868952,  8.34084943,  3.60690783],
        [ 3.04846124,  5.05222933,  6.95070786,  3.24621705],
        [ 3.09201069,  4.03843459,  8.15549722,  4.09641676],
        [ 2.09037342,  5.49823812,  6.30197512,  3.60690783],
        [ 3.44040626,  4.15868952,  6.02394681,  4.09641676],
        [ 1.61132951,  5.66872613,  6.48732733,  3.24621705],
        [ 1.56778007,  7.02045244,  5.7459185 ,  3.34927156],
        [ 2.9178129 ,  4.91827447,  6.48732733,  7.21381567],
        [ 2.17747232,  4.84673039,  6.95070786,  3.73572597],
        [ 3.17910958,  3.77052487,  6.95070786,  5.66799803],
        [ 2.61296678,  4.09932316,  5.28253797,  3.60690783],
        [ 1.87262619, 10.55960074,  6.95070786,  3.34927156],
        [ 2.87426346,  5.7509257 ,  6.02394681,  3.34927156],
        [ 3.4839557 ,  5.59261541,  8.34084943,  3.34927156],
        [ 1.74197785,  5.33840562,  6.02394681,  3.34927156],
        [ 3.00491179,  3.66853651,  6.30197512,  3.24621705],
        [ 3.00491179,  4.74474203,  8.34084943,  6.69854312],
        [ 2.56941733,  9.17286349,  8.15549722,  3.73572597],
        [ 1.87262619,  6.21976771,  6.11662291,  4.09641676],
        [ 3.17910958,  5.41299412,  5.37521408,  6.69854312],
        [ 2.00327453,  4.15868952,  6.11662291,  4.09641676],
        [ 2.56941733,  6.60793236,  5.7459185 ,  4.12218038],
        [ 3.4839557 ,  4.15868952,  5.56056629,  5.15272548],
        [ 1.74197785,  4.74321982,  6.11662291,  4.09641676],
        [ 2.78716456,  5.93663585,  8.15549722,  5.66799803],
        [ 1.65487896,  4.15868952,  5.65324239,  4.12218038],
        [ 3.26620847,  3.41432672,  6.48732733,  4.12218038],
        [ 2.70006567,  4.9000079 ,  5.37521408,  7.72908822],
        [ 1.2193845 ,  3.05812857,  6.11662291,  5.15272548],
        [ 2.56941733,  3.94862395,  8.34084943,  3.60690783],
        [ 2.87426346,  5.66263727,  5.28253797,  4.09641676],
        [ 1.69842841,  4.22110031,  8.15549722,  3.73572597],
        [ 3.4839557 ,  5.01569618,  5.56056629,  3.34927156],
        [ 2.52586789,  2.96222907,  8.34084943,  3.34927156],
        [ 3.26620847,  4.15868952,  6.11662291,  6.18327057],
        [ 2.09037342,  4.75691975,  5.7459185 ,  6.18327057],
        [ 3.4839557 ,  4.15868952,  8.15549722,  4.09641676],
        [ 1.91617564,  4.15868952,  5.37521408,  4.09641676],
        [ 2.30812065,  4.15868952,  6.11662291,  3.99336225],
        [ 2.30812065,  6.07363514,  8.15549722,  3.24621705],
        [ 2.13392287,  4.15868952,  6.02394681,  7.72908822],
        [ 2.9178129 ,  4.15868952,  5.37521408,  7.21381567],
        [ 1.91617564,  5.6017487 ,  6.02394681,  3.24621705],
        [ 1.87262619,  4.15868952,  6.11662291,  3.34927156],
        [ 1.65487896,  5.23946169,  7.59944059,  7.21381567],
        [ 2.70006567,  6.73275394,  7.59944059,  3.73572597],
        [ 2.04682398,  4.88935239,  5.7459185 ,  3.24621705],
        [ 1.65487896,  3.68375865,  5.28253797,  7.72908822],
        [ 2.30812065,  6.356767  ,  6.30197512,  7.72908822],
        [ 3.4839557 ,  3.35800479,  8.34084943,  3.99336225],
        [ 2.78716456,  4.15868952,  5.7459185 ,  3.99336225],
        [ 2.13392287,  5.62153748,  8.15549722,  3.99336225],
        [ 3.26620847,  4.28046667,  6.95070786,  4.12218038],
        [ 2.78716456,  7.49994995,  7.59944059,  3.60690783],
        [ 2.9178129 ,  4.34135524,  6.02394681,  5.15272548],
        [ 3.13556013,  6.12082378,  7.59944059,  3.73572597],
        [ 2.22102176,  4.35048853,  6.11662291,  3.60690783],
        [ 3.17910958,  5.92293592,  6.02394681,  6.69854312],
        [ 3.04846124,  4.37179953,  5.7459185 ,  3.60690783],
        [ 2.13392287,  4.15868952,  5.65324239,  4.12218038],
        [ 2.04682398,  3.91056859,  7.59944059,  4.12218038],
        [ 2.70006567,  4.15868952,  7.59944059,  5.66799803],
        [ 2.70006567,  4.9852519 ,  6.30197512,  4.09641676],
        [ 2.56941733,  4.60165389,  6.95070786,  3.24621705],
        [ 3.4839557 ,  4.15868952,  6.02394681,  7.72908822],
        [ 3.4839557 ,  4.15868952,  7.59944059,  6.69854312],
        [ 3.44040626,  4.37332174,  5.7459185 ,  5.66799803],
        [ 2.74361512,  5.35971662,  6.30197512,  4.09641676],
        [ 2.96136235,  5.53933791,  5.7459185 ,  4.09641676],
        [ 3.4839557 ,  4.4966211 ,  5.28253797,  4.12218038],
        [ 3.09201069,  4.15868952,  8.34084943,  4.09641676],
        [ 3.35330737,  4.3261331 ,  6.02394681,  3.34927156],
        [ 1.56778007,  5.21053962,  6.95070786,  3.24621705],
        [ 1.7855273 ,  5.47083827,  5.28253797,  6.18327057],
        [ 2.04682398,  7.09504094,  7.59944059,  3.73572597],
        [ 1.87262619,  7.51669431,  5.56056629,  4.12218038],
        [ 2.56941733,  5.79963656,  6.11662291,  3.60690783],
        [ 2.52586789,  5.46170498,  8.34084943,  3.34927156],
        [ 3.4839557 ,  3.98972373,  6.11662291,  3.60690783],
        [ 3.30975792,  4.15868952,  6.02394681,  6.18327057],
        [ 2.3516701 ,  4.15868952,  5.7459185 ,  3.60690783],
        [ 3.00491179,  5.30948355,  6.95070786,  5.15272548],
        [ 3.4839557 ,  2.93787364,  5.65324239,  4.09641676],
        [ 2.26457121,  5.84834742,  6.95070786,  4.12218038],
        [ 2.61296678,  4.15868952,  5.7459185 ,  3.99336225],
        [ 3.17910958,  6.13300149,  5.28253797,  5.15272548],
        [ 2.52586789,  4.15868952,  5.28253797,  6.69854312]]))

In [73]:
m1 = np.mean(D1, axis=0)
d1 = D1 - m1
w1 = np.dot(d1.T, d1)
m2 = np.mean(D2, axis=0)
d2 = D2 - m2
w2 = np.dot(d2.T, d2)
Sw = w1+w2
Swinv = np.linalg.inv(Sw)
w = Swinv @ (m1 - m2)
print('mean of class 1 is ', m1)
print('mean of class 2 is ', m2)
print('within-class scatter matrix is ')
print(Sw)
print('The value of w is ')
print(w)

mean of class 1 is  [1.73862886 4.04288329 5.0267895  3.42230893]
mean of class 2 is  [2.61151513 4.87052768 6.58154804 4.69864155]
within-class scatter matrix is
[[1416.87800726  405.5155054    86.38073565   12.62613915]
 [ 405.5155054  1425.3721456    38.40476152  -53.86274044]
 [  86.38073565   38.40476152 1234.11747815  -98.94739238]
 [  12.62613915  -53.86274044  -98.94739238 1321.1452261 ]]
The value of w is
[-0.00039097 -0.00047507 -0.00130421 -0.00107939]

# Q2(b)

In [99]:
from sklearn.metrics import mutual_info_score
from scipy.stats import entropy

ht = data['hypertension'].values
hd = data['heart_disease'].values
ht, hd, Y

(array([0, 0, 0, ..., 0, 0, 0], dtype=int64),
 array([1, 1, 0, ..., 0, 0, 0], dtype=int64),
 array([[0],
        [0],
        [0],
        ...,
        [0],
        [0],
        [0]], dtype=int64))

In [125]:
def GI(n1, n2):
    return 1 - (n1/(n1 + n2))**2 - (n2/(n1 + n2))**2
def totalGI(feature, label):
    ht0_Y0 = feature[(feature.flatten() == 0) & (label.flatten() == 0)].size
    ht0_Y1 = feature[(feature.flatten() == 0) & (label.flatten() == 1)].size
    ht1_Y0 = feature[(feature.flatten() == 1) & (label.flatten() == 0)].size
    ht1_Y1 = feature[(feature.flatten() == 1) & (label.flatten() == 1)].size
    ht0_num = ht0_Y0 + ht0_Y1
    ht1_num = ht1_Y0 + ht1_Y1
    GIht = ht0_num/(ht0_num + ht1_num)*GI(ht0_Y0, ht0_Y1) + ht1_num/(ht0_num + ht1_num)*GI(ht1_Y0, ht1_Y1)
    return GIht
def compute_entropy(labels):
    """Compute the entropy of a set of labels."""
    _, counts = np.unique(labels, return_counts=True)
    probabilities = counts / float(len(labels))
    # print(counts)
    return entropy(probabilities, base=2)
def entropy_gain(feature, Y):
    ht0 = Y[feature.flatten() == 0]
    ht1 = Y[feature.flatten() == 1]
    return compute_entropy(Y) - compute_entropy(ht0)*ht0.size/(ht0.size+ht1.size) - compute_entropy(ht1)*ht1.size/(ht0.size+ht1.size)

In [128]:
print('The Gini Impurity of firstly splitting by "hypertension" is ', totalGI(ht, Y))
print('The Gini Impurity of firstly splitting by "heart_disease" is ', totalGI(hd, Y))
print('The information gain of firstly splitting by "hypertension" is ', entropy_gain(ht, Y))
print('The information gain of firstly splitting by "heart_disease" is ', entropy_gain(hd, Y))

The Gini Impurity of firstly splitting by "hypertension" is  0.14295615100629247
The Gini Impurity of firstly splitting by "heart_disease" is  0.14601404503959087
The entropy at the begining is  0.4019913642500085
The information gain of firstly splitting by "hypertension" is  0.014297005653686627
The information gain of firstly splitting by "heart_disease" is  0.003982146278906959